/* General settings for the admin dashboard */
.admin-dashboard {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f4f7f6;
  padding: 0;
  overflow-x: hidden;
}

/* Welcome section */
.welcome-section {
  background-color: #f7f9fc;
  padding: 60px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  text-align: center;
}

.welcome-text h1 {
  font-size: 3em;
  font-weight: bold;
  color: #0aabc6;
  margin-bottom: 20px;
}

.welcome-text p {
  font-size: 1.2em;
  color: #444;
  margin-bottom: 20px;
  line-height: 1.6;
}

.welcome-text h2 {
  font-size: 1.8em;
  font-weight: bold;
  color: #0aabc6;
  margin-bottom: 20px;
}

/* Features section */
.admin-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 20px;
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.feature {
  flex: 1 1 calc(45% - 20px);
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #ffffff;
}

.feature img {
  max-width: 80px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.feature h3 {
  font-size: 1.5em;
  color: #0aabc6;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1.2em;
  color: #444;
}

.feature:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Information section */
.admin-info {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.admin-info h2 {
  font-size: 3em;
  font-weight: bold;
  color: #0aabc6;
  margin-bottom: 10px;
}

.info-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.info-item {
  background-color: #f7f9fc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  flex: 1 1 calc(45% - 40px);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
}

.info-item img {
  max-width: 100px;
  height: auto;
  object-fit: cover;
  border: 5px solid #e7eef7;
  margin-bottom: 20px;
}

.info-item h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #0aabc6;
  margin-bottom: 15px;
}

.info-item p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
}

.info-item:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* View All Button */
.view-all {
  display: inline-block;
  padding: 15px 30px;
  background-color: #0aabc6;
  color: white;
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

.view-all:hover {
  background-color: #0899ac;
  transform: translateY(-2px);
}

.view-all:active {
  background-color: #088a9a;
  transform: translateY(2px);
}

/* Admin Support Section */
.admin-appointment {
  padding: 60px 20px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.admin-appointment h2 {
  font-size: 3em;
  font-weight: bold;
  color: #0aabc6;
  margin-bottom: 20px;
}

.admin-appointment p {
  font-size: 1.2em;
  color: #444;
  margin-bottom: 20px;
}

.admin-support {
  padding: 15px 30px;
  background-color: #0aabc6;
  color: white;
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.admin-support:hover {
  background-color: #0899ac;
  transform: translateY(-2px);
}

.admin-support:active {
  background-color: #088a9a;
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .feature,
  .info-item {
    flex: 1 1 100%;
  }

  .admin-features,
  .info-grid {
    flex-direction: column;
  }

  .welcome-text h1 {
    font-size: 2.5em;
  }

  .welcome-text h2 {
    font-size: 1.5em;
  }

  .welcome-text p {
    font-size: 1.1em;
  }
}
