/* src/admin/AdminHeader.css */
.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2980b9;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .header-left h1 {
    font-size: 24px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .icon {
    font-size: 24px;
    cursor: pointer;
  }
  