/* General settings for the page */
.therapist-near-you-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Map and location search styling */
  .map-container {
    width: 60%;
  }
  
  .location-search {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px;
    width: 100%;
  }
  
  .location-search input {
    flex: 1; /* Take up remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Space between input and buttons */
  }
  
  .button-group {
    display: flex;
    gap: 10px; /* Space between the buttons */
  }
  
  .button-group button {
    padding: 10px 20px;
    background-color: #0aabc6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-group button:hover {
    background-color: #0899ac;
  }
  
  .map iframe {
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 10px;
  }
  
  /* Therapist list styling */
  .therapist-list {
    width: 35%;
    max-height: 500px;
    overflow-y: auto;
    background-color: #f7f9fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .therapist-item {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .therapist-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .therapist-item h3 {
    font-size: 1.5em;
    color: #0aabc6;
    margin-bottom: 10px;
  }
  
  .therapist-item p {
    font-size: 1em;
    color: #444;
    margin: 5px 0;
  }
  
  .directions-button {
    padding: 10px 20px;
    background-color: #0aabc6;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .directions-button:hover {
    background-color: #0899ac;
    transform: translateY(-2px);
  }
  
  @media (max-width: 768px) {
    .therapist-near-you-page {
      flex-direction: column;
    }
  
    .map-container {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .therapist-list {
      width: 100%;
    }
  }
  